.container {
    position: absolute;
    width: 70%;
    right: 2.5%;
    top: 100px;

}

.offerHead {
    background-color: #27283C;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.offerHead h2 {
    color: #f2f2f2;
    font-size: 25px;
    font-weight: 600;
}

.offerHead button {
    border-radius: 20px;
    background-color: #C035A2;
    border: 2px solid #C035A2;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.offerHead button:hover {
    background-color: #ab2b8f;
    border: 2px solid #ab2b8f;
}

.offerMain {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    background-color: #FFF;
    max-height: 68vh;
    overflow-y: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 12px;
    /* text-align: left; */
    /* border: 1px solid #ddd; */
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

.button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.spinDiv{
    width: 80%;
    position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   right: 0;
   height: 100vh;
  }
  .spin{
    padding-top: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
@media (max-width:750px) {
    .container {
        width: 95%;
    }
    .spinDiv{
        height: 100vh;
        width: 100%;
      }
      .spin {
        width: 400px;
        height: 400px;
      }
}