.container {
    position: absolute;
    width: 70%;
    right: 2.5%;
    top: 100px;

}

.categoryHead {
    background-color: #27283C;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.categoryHead h2 {
    color: #f2f2f2;
    font-size: 25px;
    font-weight: 600;
}

.categoryHead button {
    border-radius: 20px;
    background-color: #C035A2;
    border: 2px solid #C035A2;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.categoryHead button:hover {
    background-color: #ab2b8f;
    border: 2px solid #ab2b8f;
}

.categoryMain {
    width: 70%;
    background-color: #F3F4F6;
    padding: 20px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 80vh;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    top: 100px;
}
/* 
.categoryMain td {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.categoryMain tbody{
    display: flex;
    flex-direction:column ;
}
.tr{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
} */
.sec {
    width: 70%;
    background-color: #F3F4F6;
    padding: 20px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 80vh;
    overflow-y: auto;
    position: absolute;
    width: 70%;
    right: 2.5%;
    top: 100px;
  
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 20px;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
@media (max-width:600px) {
    .container {
        width: 95%;
    }
}